.tarjetas {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-around;
    /* Espacio entre los elementos en una fila */
    align-items: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 10px;
    /* border-radius: 10px; */
    margin-right: 20px;
    margin-top: 0px;
    /* min-height: 80vh; */
    padding-bottom: 10px;
    /* background-color: rgb(0, 0, 0); */
    background-color: #2828287d;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    /* flex-basis: 100%; */
    width: 90%;
}

.select {
    font-size: 15px;
    width: 80%;
    cursor: pointer;
}

.oneSelect {
    margin-bottom: 10px;
}

.img2 {
    width: 98.9vw;
    height: 250px;
    object-fit: cover;
    background-repeat: no-repeat;
    background: url('../../assets/blog.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.notFound {

    place-items: center;
    display: grid;
    flex: 1;
}

.filters {
    /* border-right: 2px solid #fefefe; */
    width: 250px;
    padding-top: 30px;
}

.notFound img {
    height: 500px;
    width: auto;

}

.subtitle {
    text-align: start;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-right: 50px; */
    width: fit-content;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(54, 54, 54), 0 0 25px rgb(54, 54, 54), 0 0 5px rgb(54, 54, 54), 0 0 5px rgb(54, 54, 54);
    font-weight: 500;
}

.container {
    color: rgb(255, 255, 255);
    text-transform: initial;
    font-weight: 600;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}

.allCont {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #121212;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}

.fullContainer {
    display: flex;
    /* background-color: #121212; */
    justify-content: center;
    flex: 1;
    width: 100%;
    /* width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #121212;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px; */
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    background-color: #3b3b3b;
    font-size: 18px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border-radius: 25px;
    cursor: pointer;
    transition: ease 0.3s;
}

.btn:hover {
    background-color: #4d4d4d;

}

.btn:active {
    scale: 0.9;
    background-color: #ffffff;
    color: black;
}